#clientInputContainer {
    height: 100%;
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    font-size: 0.9em;
    letter-spacing: normal;
}

.UpdateHeader {
    width: 8%;
}

.inputClientName {
    width: 15%;
    background-color: transparent;
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: lightgray;
    text-align: center;
}