.client-input-container {
  width: 70%;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  padding: 1%;
  margin: 1% 1% 1% 2%;
  font-size: 0.9em;
  letter-spacing: normal;
}

.input-client-name {
  width: 35%;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: lightgray;
  text-align: center;
  margin-left: 5%;
}

@media screen and (min-width: 1023px) {
  .client-input-container {
    padding-top: 0;
    margin: 0.5% 1% 0.5% 2%;
  }
}

@media screen and (max-width: 700px) {
  .client-input-container {
    width: 90%;
  }

  .input-client-name {
    width: 35%;
  }
}

@media screen and (max-width: 415px) {
  .client-input-container {
    margin-top: 20px;
    width: 95%;
  }
}
