* {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

#navbar-container {
    height: 2%;
    width: 100%;
    font-size: 1em;
    padding: 0.5%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    background-color: #080e0c;
  }

.nav-link {
    flex: 1;
    padding: 1%;
    color: white;
}

.nav-link:focus{
    background-color: rgba(169, 169, 169, 0.644);
}